<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <!--        <li ng-class="{'sidebar-brand': currentTab==1}">
                    <a href="#">
                        Trang chủ
                    </a>
                </li>
                <li ng-class="{'sidebar-brand': currentTab==2}">
                    <a href="#">Thống kê</a>
                </li>-->
        <li ng-class="{'sidebar-brand': currentTab==3}">
            <a href="/site">Quản lý website</a>
        </li>
        <li ng-class="{'sidebar-brand': currentTab==6}">
            <a href="/traffic">Danh sách truy cập</a>
        </li>
        <li ng-class="{'sidebar-brand': currentTab==4}">
            <a href="/plan">Các gói cước</a>
        </li>
        <li ng-class="{'sidebar-brand': currentTab==5}">
            <a href="/transaction">Lịch sử giao dịch</a>
        </li>
        <li style="display: none" ng-class="{'sidebar-brand': currentTab==7}">
            <a href="/user">Quản lý thông tin</a>
        </li>
    </ul>
</div>