
nav.navbar.navbar-default {
    margin-bottom: 0;
}

.benefit .row, .advisory .row {
    margin: 40px auto;
}

.benefit .row > div {
}

.benefit {
    margin: 0 auto;
    /*width: 80%;*/
    text-align: center;
}

.benefit .row h4 {
    margin-top: 20px;
    /* font-weight: bold; */
}

hr.style14 {
    margin-left: 7%;
    margin-right: 7%;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.footer {
    padding: 30px 0;
    background-color: #eee;
}

ul {
    list-style: none;
}

.footer ul li {
    line-height: 30px;
}

@media (max-width: 768px) {
    .footer .row > div {
        text-align: center !important;
        margin: 30px 0;
    }

    .footer ul {
        padding: 0;
    }
}

.jumbotron {
    background-color: #00695C;
    color: #fff;
    border-radius: 0;
}

.jumbotron a.btn.btn-primary.btn-lg {
    background-color: #eee;
    color: #242424;
    border: none;
    border-radius: 2px;
}

.jumbotron p {
    font-size: 18px;
}

.inside-image {
    cursor: pointer;
    color: #242424;
    text-align: center;
    width: 100%;
    height: 100%;
    /* background-color: #9ab7f3; */
    border-radius: 50%;
    line-height: 64px;
    border: 1px solid #242424;
}

.line {
    height: 33px;
    line-height: 1.2em;
    font-size: 1.5em;
    margin: 70px 15px;
}

.image {
    width: 52px;
    height: 52px;
    margin-right: 45px;
    border: 1px solid #03a9f4;
    border-radius: 50%;
    padding: 3px;
}

.inside-content-table * {
    width: auto;
}

.image {
    width: 70px;
    height: 70px;
    margin-right: 45px;
    border: none;
    border-radius: 50%;
    padding: 3px;
}

.inside-content-table * {
    /* width: auto; */
}

.image, .left-content {
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    /* vertical-align: text-bottom; */
}

.jumbotron {
    margin-bottom: 0;
}

.jumbotron-blue {
    background-color: #8BC34A;
}

.package-title {
    text-align: center;
    font-size: 2em;
    height: 80px;
    line-height: 80px;
    color: #fff;
    border-radius: 5px 5px 0 0;
}

.package-content {
    padding: 20px;
    line-height: 1.8em;
    color: #fff;
}

.package-submit {
    height: 60px;
    padding: 7.5px;
    text-align: center;
    border-radius: 0 0 5px 5px;
}

.package-submit button {
    /*height: 40px;*/
    /*line-height: 26px;*/
    /*border: none;*/
    /*background-color: #03a9f4;*/
    /*color: #fff;*/
    width: 150px;
    /*border-radius: 4px;*/
}

.package-1 .package-title {
    background-color: #28609A;
}

.package-1 .package-content {
    background-color: #fff;
    color: #242424;
}

.package-1 .package-submit {
    background-color: #286090;
}

.package-2 .package-title {
}

.package-2 .package-content {
}

.package-2 .package-submit {
}

.package-3 .package-title {
}

.package-3 .package-content {
}

.package-3 .package-submit {
}

.package-4 .package-title {
}

.package-4 .package-content {
}

.package-4 .package-submit {
}

.package-5 .package-title {
}

.package-5 .package-content {
}

.package-5 .package-submit {
}

.package-6 .package-title {
}

.package-6 .package-content {
}

.package-6 .package-submit {
}

.package-7 .package-title {
}

.package-7 .package-content {
}

.package-7 .package-submit {
}

.price-show .col-md-3.col-sm-3 {
    margin-bottom: 25px;
}

.navbar-default a:hover {
    color: #03a9f3;
}

.navbar-default .nav a {
    font-size: 1.2em;
}

nav.navbar.navbar-default {
    background-color: #fff;
}

.section.main h1 {
    text-align: center;
    margin-bottom: 30px;
}

.package {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(167, 167, 167, 1);
    /* -webkit-box-shadow: 3px 2px 23px -2px rgba(0, 0, 0, 0.75); */
    -moz-box-shadow: 3px 2px 23px -2px rgba(0, 0, 0, 0.75);
    /* box-shadow: 3px 2px 23px -2px rgba(0, 0, 0, 0.75); */
}

nav.navbar.navbar-default.nav-home {
    z-index: 99;
    line-height: 75px;
    height: 75px;
    color: #fff;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0.3);
}

.header {
    position: relative;
}

.header-section {
    background-image: url(../img/slide3.jpg);
    background-size: cover;
    background-position: center center;
    height: 530px;
}

.nav-home.navbar-default a.navbar-brand {
    color: #fff;
}

.nav-home.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.nav-home.navbar-default .navbar-nav > li > a:focus, .nav-home.navbar-default .navbar-nav > li > a:hover {
    color: rgba(255, 255, 255, .8);
}

.nav-home.navbar .container-fluid {
    padding: 0 60px;
}

.nav-home a.navbar-brand {
    line-height: 75px;
    height: 75px;
    padding: 0 15px;
}

.nav-home .navbar-nav > li > a {
    line-height: 75px;
    padding: 0 15px;
}

.header-section-opacity {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.header-section .content {
    padding: 245px 0 0;
    text-align: center;
    color: #fff;
}

.learn-more button {
    height: 60px;
    border: none;
    background: #53b143;
    border-bottom: 3px solid #17a000;
    padding: 0 50px;
    font-size: 1.4em;
    font-weight: bold;
}

.learn-more button:hover {
    padding-top : 3px;
    background: #17a000;
}


.learn-more {
    margin-top: 15px;
}

.section-1 .title {
    text-align: center;
}

.section-1 .content .col-md-6.left {
    padding: 0 80px 0 0;
    text-align: right;
}

.section-1 .content .col-md-6.right {
    padding: 0 0 0 80px;
    text-align: left;
}

.section-1 ul > li::before {
    font-weight: bolder;
    content: "•  ";
}

.section-1 .content {
    line-height: 2.3em;
}

.section-1 ul {
    padding: 0;
}

img.social-media {
    float: right;
    width: 35%;
}

.section-1 .text-content {
    float: left;
    width: 65%;
    line-height: 1.6em;
}

.section-1 {
    color: #7a7a7a;
}

.section-2 {
    background: #c9dcff;
    text-align: center;
}

.section-2 .content {
    font-size: 1.3em;
    text-align: left;
    /* float:left; */
    color: #7a7a7a;
}

.section-2 .content-1 .text-content {
    padding-right: 70px;
    padding-top: 60px;
    width: 70%;
    float: left;
}

img.big-data {
    width: 30%;
    float: right;
}

img.data-collection {
    width: 16%;
    float: left;
}

.section-2 .content-2 .text-content {
    width: 84%;
    float: right;
    padding: 80px 0 0 70px;
}

.section-2 .clear-fix {
    height: 30px;
}

img.seo-image {
    width: 25%;
    float: right;
}

.section-2 .content-3 .text-content {
    width: 75%;
    float: left;
    padding: 50px 50px 0 0;
}

.section-2 .title {
    margin-bottom: 30px;
}

.title {
    text-align: center;
    color: #000;
}

.section-3 .right.col-md-6 {
    /* margin-right: -100px; */
    /* margin-left: -100px; */
    /* background-color: #eee; */
}

.line-content span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5em;
}

.line-content {
    padding-left: 115px;
    height: 70px;
    line-height: 70px;
    /* vertical-align: text-bottom; */
    font-size: .7em;
    color: #7a7a7a;
}

.inside-content-table.text-left {
    margin: 0px 0 0 -64px;
}

.section-4 {
    background-color: #c9dcff;
}

.avatar {
    background-color: #fff;
    position: relative;
    width: 100%;
    padding-top: 100%; /* 4:3 Aspect Ratio */
}

.avatar .avatar-image {
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: 20px;
    background-image: url('../img/blue.jpg');
    background-size: cover;
    background-position: center center;
}

.card-customer {
    border: 1px solid #000;
    margin: 0 20px;
    background: #fff;
    /* text-align: center; */
    min-height: 490px;
}

.customer-name, .customer-comment {
    font-size: 1.15em;
    padding: 10px 30px;
}

.customer-name {
    font-weight: bold;
}

.customer-comment {
    color: #7a7a7a;
    /* margin-bottom: 40px; */
}

.section-4 .title {
    margin: 30px auto;
}

.section-1 h4 {
    color: #000;
}

.section-4 .col-md-4 {
    margin-bottom: 40px;
}

.nav-home a.navbar-brand:hover {
    color: #fff !important;
    opacity: .8;
}

nav.navbar.navbar-default.navbar-price {
    position: static;
    background: #7a7a7a;
}

@media (max-width: 768px) {
    .inside-content-table.text-left {
        margin: 0;
    }

    .line {
        height: auto;
        min-height: 33px;
    }
}

.inside-image:hover {
    color: #fff;
    border: none;
    background-color: #9ab7f3;
}

.learn-more button:hover {
    background-color: #17a000;
}

.nav-home a.navbar-brand {
    font-size: 2em;
}