<div class="modal fade" id="changePassModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-table-cell">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Thêm website mới</h4>
                </div>
                <div class="modal-body">
                    <div class="table-login-content">
                        <form name="formChangePass" onsubmit="submitForm()" >
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control"
                                       name="userCurentPass"
                                       required/>
                            </div>
                            <div class="form-group">
                                <label>Password mới</label>
                                <input type="password" class="form-control"
                                       id="pass"
                                       name="userNewPass"
                                       required/>
                            </div>
                            <div class="form-group">
                                <label>Xác nhận password</label>
                                <input type="password" class="form-control"
                                       id="reEnter"
                                       name="userReEnterPass"
                                       required/>
                            </div>
                            <button type="submit" class="btn btn-primary">Xác nhận</button>
                        </form>
                    </div>
                    <script type="javascript">
                      function readCookie(name) {
                        var nameEQ = name + "=";
                        var ca = document.cookie.split(';');
                        for(var i=0;i < ca.length;i++) {
                          var c = ca[i];
                          while (c.charAt(0)==' ') c = c.substring(1,c.length);
                          if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
                        }
                        return null;
                      }
                      function submitForm() {
                        let form = document.forms.formChangePass;
                        if (form.userCurentPass.value.toString() == "" || form.userNewPass.value.toString() == ""
                          || form.userReEnterPass.value.toString()) {
                          AlertMessage("0", "Thông báo: Vui lòng điền đầy đủ thông tin trước khi đặt đơn hàng!");
                          return;
                        }
                        const newKeyAndTime = getNewKeyAndTimeStamp();
                        let accessToken = readCookie('token');
                        const form_data = {
                          t: newKeyAndTime.t,
                          k: newKeyAndTime.k,
                          oldPassword: data.oldPassword,
                          newPassword: data.newPassword
                        };
                        form.btnSubmit.disabled = true;
                        $.ajax({
                          type: 'POST',
                          url: config.domain + 'order',
                          data: form_data,
                          headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                            authorization: 'bearer ' + accessToken,
                          },
                          success: res => {
                            AlertMessage("1", 'Đăng ký thành công, chúng tôi sẽ liên hệ với bạn sớm nhất!');
                          },
                          error: res => {
                            AlertMessage("0", 'Đăng ký thất bại, Vui lòng thử lại!');
                          }
                        });
                      }
                    </script>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Lưu</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>