<div class="main-footer ng-cloak">
    <div class="container">
        <div class="column logo contact hidden-xs">
            <a href="/site">
                <img src="assets/img/mobile-phone.png">
            </a>
        </div>
        <div class="column contact">
            <img src="assets/img/icon-mail.png"><br>
            <p>wemobile.crm@gmail.com</p>
        </div>
        <div class="column contact">
            <img src="assets/img/icon-phone.png"><br>
            <p>0166.337.0342</p>
        </div>
        <div class="column contact  hidden-xs">
            <img src="assets/img/icon-address.png"><br>
            <p>Duy Tân - Cầu Giấy - Hà Nội</p>
        </div>
        <div class="column joinwithus hidden-xs">
            <strong>Join us on</strong>
            <ul class="social">
                <li>
                    <a href="https://www.facebook.com/1191206590914518/" target="_blank">
                        <img src="assets/img/facebook-grey.png"/>
                    </a>
                </li>
                <li>
                    <a href="#"><img src="assets/img/google-grey.png"/></a>
                </li>
                <li>
                    <a href="#"><img src="assets/img/instagram-grey.png"/></a>
                </li>
                <li>
                    <a href="#"><img src="assets/img/youtobe.png"/></a>
                </li>
            </ul>
        </div>
    </div>
</div>  