<div class="header">
    <nav class="navbar navbar-default nav-home ">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">WEMOBILE</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/rules">Điều khoản</a></li>
                    <li><a href="/login">Đăng nhập</a></li>
                    <li><a href="/register">Đăng ký</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="header-section">
        <div class="header-section-opacity">
            <div class="content">
                <h3>KINH DOANH HIỆU QUẢ HƠN TRÊN INTERNET VỚI MOBILE MARKETING</h3>
                <h4>Sự lựa chọn thông minh cho mô hình kinh doanh hiện đại</h4>
                <div class="learn-more">
                    <button>BẮT ĐẦU NGAY</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-1">
    <div class="container">
        <div class="title">
            <h2>KINH DOANH TRÊN INTERNET, CƠ HỘI VÀ THÁCH THỨC?</h2>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-6 left">
                    <h4>LỢI ÍCH, CƠ HỘI</h4>
                    <ul>
                        <li>Không bị giới hạn bởi vị trí địa lý</li>
                        <li>Không tốn chi phí mặt bằng, điện, nước phát sinh</li>
                        <li>Lượng khách hàng dồi dào thông qua các hình thức quảng cáo</li>
                        <li>Kinh doanh hiệu quả, tốn ít chi phí nhân lực</li>
                        <li>Hoạt động kinh doanh duy trì 24/7</li>
                    </ul>
                </div>
                <div class="col-md-6 right">
                    <h4>THÁCH THỨC</h4>
                    <ul>
                        <li>Cạnh tranh từ nhiều đối thủ</li>
                        <li>Tâm lý lo sợ khi mua phải hàng giả hàng kém chất lượng của khách hàng</li>
                        <li>Thiếu chủ động trong việc tiếp cận khách hàng</li>
                        <li>Khó nắm bắt được nhu cầu khách hàng</li>
                        <li>Tỷ lệ mua hàng/lượt truy cập website khá thấp</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="title" style="margin-top:50px;">
            <h2>GIẢI PHÁP</h2>
        </div>
        <div class="content">
            <div class="text-content">
                <p>Với những lợi ích, cơ hội khó có thể phủ nhận, việc kinh doanh qua mạng là yếu tố quan trọng
                    ảnh hưởng đến sự tăng trưởng của một doanh nghiệp, cửa hàng,...</p>
                <p>Ngày nay hình thức quảng cáo trên các mạng xã hội, qua email là một hình thức khá phổ biến.
                    Phương pháp này giúp thu hút một lượng lớn lượt truy cập vào website của bạn.
                </p>
                <p>
                    Thế nhưng :
                </p>
                <ul>
                    <li>Liệu lượt truy cập lớn có giúp bạn bán được hàng trong khi tỉ lệ mua hàng thấp?</li>
                    <li>Liệu hình thức quảng cáo truyền thống có giúp bạn hiểu khách hàng cần gì?</li>
                    <li>Liệu các hình thức này có cung cấp cách thức giúp bạn tiếp cận khách hàng chủ động hơn?</li>
                    <li>Liệu bạn có tận dụng lợi ích từ quảng cáo một cách hiệu quả hay chưa?</li>
                </ul>
                <p>Không hiểu khách hàng là ai, họ cần gì, tiếp cận họ như thế nào, làm sao lấy niềm tin từ họ
                    là vấn đề khá phổ biến với người bán hàng trên môi trường internet.</p>
            </div>
            <img src="./assets/img/socialmedia-pm_0.png" alt="" class="social-media">
        </div>
    </div>
</div>
<div class="section-2">
    <div class="container">
        <div class="title">
            <h3>NẾU BẠN ĐANG GẶP PHẢI NHỮNG VẤN ĐỀ NÀY, HÃY XEM WEBMOBILE GIÚP GÌ ĐƯỢC CHO BẠN?</h3>
        </div>
        <div class="content content-1">
            <div class="text-content">
                Với việc thống kê, thu thập dữ liệu từ các lượt truy cập website.
                Chúng tôi sẽ phân tích, đánh giá các sản phẩm đang được khách
                hàng quan tâm.
            </div>
            <img src="./assets/img/Big-Data.png" alt="" class="big-data">
        </div>
        <div class="clear-fix"></div>
        <div class="content content-2">
            <div class="text-content">
                Chúng tôi thu thập số điện thoại, thông tin nhà mạng, thời gian, địa điểm khách
                hàng truy cập vào website giúp ban chủ đông hơn trong việc tiếp cận khách hàng.
            </div>
            <img src="./assets/img/data_collection.png" alt="" class="data-collection">
        </div>
        <div class="clear-fix"></div>
        <div class="content content-3">
            <div class="text-content">
                Chúng tôi phân tích, đánh giá website để đưa ra lợi gợi ý giúp
                website của bạn có trải nghiệm người dùng tốt hơn. Trải nghiệm
                người dùng là môt tiêu chí ảnh hưởng đến niềm tin người dùng.
            </div>
            <img src="./assets/img/SEO-background-02.png" alt="" class="seo-image">
        </div>
        <div class="clear-fix"></div>
    </div>
</div>
<div class="section-3">
    <div class="container">
        <div class="title">
            <h3>4 BƯỚC ĐƠN GIẢN ĐỂ SỬ DỤNG WEMOBILE</h3>
        </div>
        <div class="row">
            <div class="left col-md-6">
            </div>
            <div class="right col-md-6">
                <div class="inside-content-table text-left">
                    <div class="first-line line">
                        <div class="image you-know-1">
                            <div class="inside-image">1</div>
                        </div>
                        <div class="line-content">
                            <span>Đăng nhập vào trang quản lý của wemobile
                                hoặc đăng ký nếu
                            bạn chưa có tài khoản.<br/>
                            Chúng tôi sẽ gửi đường dẫn kích hoạt tài khoản đến email mà
                            bạn đã đăng ký.
                            </span>
                        </div>
                    </div>
                    <div class="second-line line">
                        <div class="image you-know-2">
                            <div class="inside-image">2</div>
                        </div>
                        <div class="line-content">
                            <span>Thêm thông tin trang web của bạn vào hệ thống của chúng tôi.
                            </span>
                        </div>
                    </div>
                    <div class="third-line line">
                        <div class="image you-know-3">
                            <div class="inside-image">3</div>
                        </div>
                        <div class="line-content">
                            <span>Lựa chọn các gói dịch vụ phù hợp với nhu cầu của bạn và
                            thanh toán.</span>
                        </div>
                    </div>
                    <div class="third-line line">
                        <div class="image you-know-4">
                            <div class="inside-image">4</div>
                        </div>
                        <div class="line-content">
                            <span>Nhúng đoạn mã chúng tôi chuẩn bị sẵn vào trang web của bạn.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="row text-center">
            <div class="logo col-sm-2"><img src="../../../assets/img/mobile-phone.png"></div>
            <div class="infomation col-sm-5 text-left">
                <ul>
                    <li>Địa chỉ: Duy Tân</li>
                    <li>Số điện thoại: 0977438191</li>
                    <li>Mail: wemobile.crm@gmail.com</li>
                </ul>
            </div>
            <div class="redirect-link col-sm-5">
                <ul>
                    <li><a href="#">Về chúng tôi</a></li>
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
