<div class="header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">WEMOBILE</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/rules">Điều khoản</a></li>
                    <!--<li><a href="/price">Bảng giá</a></li>-->
                    <li><a href="/login">Đăng nhập</a></li>
                    <li><a href="/register">Đăng ký</a></li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
<div class="container" style="text-align: justify;"><h1>Điều khoản dịch vụ của WeMobile</h1>
    Sửa đổi lần cuối : Ngày 23 tháng 2 năm 2017.

    <h2>Chào mừng bạn đến với WeMobile.</h2>
    Trước hết, xin cảm ơn bạn đã sử dụng Dịch vụ của chúng tôi.
    Bằng việc sử dụng Dịch vụ của chúng tôi, bạn đang đồng ý với các điều khoản mà chúng tôi đặt ra. Vui lòng đọc kỹ các
    điều khoản này.
    Trong quá trình phát triển, có thể WeMobile sẽ đặt thêm một số điều khoản bổ sung. Chúng tôi đảm bảo các điều khoản bổ
    sung sẽ không gây sự khó dễ cho bạn.

    <h2>Sử dụng Dịch vụ của chúng tôi</h2>
    Bạn phải tuân thủ mọi chính sách đã cung cấp cho bạn trong phạm vi Dịch vụ.

    Không được sử dụng trái phép dịch vụ của chúng tôi.
    Bạn không được gây trở ngại cho Dịch vụ của chúng tôi hoặc tìm cách sử dụng dịch vụ của chúng tôi một cách trái
    phép. Bạn chỉ được phép sử dụng dịch vụ của chúng tôi theo những gì chúng tôi đã đề xuất. Chúng tôi có thể tạm ngừng
    hoặc dừng hẳn việc sử dụng dịch vụ nếu bạn không tuân thủ các điều khoản hoặc chính sách mà chúng tôi đã đề ra.

    Việc bạn sử dụng Dịch vụ của chúng tôi không có nghĩa là bạn được sử hữu bất cứ quyền sở hữu trí tuệ nào đối với
    Dịch vụ của chúng tôi. Bạn không có quyền bán, trao đổi Dịch vụ của chúng tôi khi không có sự cho phép của chúng
    tôi.

    Liên quan đến việc bạn sử dụng Dịch vụ, chúng tôi có thể gửi cho bạn các thông báo dịch vụ và nhiều thông tin cập
    nhật khác. Bạn có thể lựa chọn không nhận một số thông báo này.

    <h2>Tài khoản WeMobile</h2>
    Bạn cần có tài khoản WeMobile để sử dụng được Dịch vụ của chúng tôi.
    Để bảo vệ tài khoản, bạn cần giữ bí mật mật khẩu của bạn. Bạn phải chịu mọi trách nhiệm đối với hoạt động xảy ra
    thông qua tài khoản của mình.

    <h2>Sự riêng tư cá nhân</h2>
    Khi bạn sử dụng Dịch vụ của chúng tôi, bạn đã đồng ý cung cấp thông tin của bạn cho chúng tôi.
    Bạn được quyền thay đổi các thông tin cá nhân đã cung cấp cho chúng tôi. Chúng tôi luôn luôn tạo điều kiện thuận lợi
    nhất để bạn có thể cập nhật những thông tin này.

    <h3>Thông tin chúng tôi chia sẻ</h3>
    Chúng tôi không chia sẻ bất cứ thông tin với cá nhân, công ty hay tổ chức nào trừ khi có sự cho phép của bạn.

    <h3>Bảo mật thông tin</h3>
    Chúng tôi nỗ lực làm việc để bảo vệ WeMobile và người dùng của mình không bị truy cập trái phép, sửa đổi trái phép,
    tiết lộ hoặc phá hoại thông tin mà bạn đã tin tưởng trao cho chúng tôi.

    <h3>Các thay đổi</h3>
    Chính sách của chúng tôi về sự riêng tư có thể thay đổi trong từng thời điểm. Chúng tôi sẽ thông báo cho bạn một
    cách rõ ràng về sự thay đổi trong chính sách của mình.

    <h2>Nội dung của bạn trong Dịch vụ của chúng tôi</h2>
    Dịch vụ của chúng tôi cho phép bạn lưu trữ những nội dung thuộc về bạn sau quá trình chúng tôi phân tích, đánh giá
    những nội dung đó. Bạn giữ quyền sở hữu đối với nội dung này.

    Bạn phải đảm bảo sử dụng các nội dung này một cách hợp pháp và không gây ảnh hưởng tiêu cực đến những cá nhân, công
    ty hay tổ chức có liên quan đến nội dung của ban. Nếu WeMobile nhận được phản ánh về việc bạn sử dụng nội dung vi phạm
    điều khoản của chúng tôi, chúng tôi sẽ chấm dứt Dịch vụ đối với bạn ngay lập tức.

    <h2>Sửa đổi và chấm dứt Dịch vụ của chúng tôi</h2>
    Chúng tôi không ngừng thay đổi và cải tiến Dịch vụ của mình một cách tốt hơn. Chúng tôi có thể thêm hoặc xóa các
    chức năng, tính năng và chúng tôi cũng có thể tạm ngừng hoặc ngừng hoàn toàn một chức năng nào đó.

    Bạn có thể ngừng sử dụng Dịch vụ của chúng tôi bất cứ lúc nào.
    Chúng tôi không chịu trách nhiệm bồi hoàn những chi phí trong quá trình ban sử dụng Dịch vụ của chúng tôi. Bạn cần
    cân nhắc trong việc ngừng sử dụng Dịch vụ.

    Chúng tôi đảm bảo sẽ giữ những nội dung của bạn một cách bí mật ngay cả khi bạn ngưng sử dụng Dịch vụ của chúng tôi.
</div>

<div class="footer">
    <div class="container">
        <div class="row text-center">
            <div class="logo col-sm-2"><img src="../../../assets/img/mobile-phone.png"></div>
            <div class="infomation col-sm-5 text-left">
                <ul>
                    <li>Địa chỉ: Văn Tiến Dũng</li>
                    <li>Số điện thoại: 0977438191</li>
                    <li>Mail: takeitchanel@gmail.com</li>
                </ul>
            </div>
            <div class="redirect-link col-sm-5">
                <ul>
                    <li><a href="#">Về chúng tôi</a></li>
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>